@font-face {
  font-family: 'BohemaPink';
  src: url('fonts/ofont.ru_Bohema-Pink.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kontrabanda';
  src: url('fonts/ofont.ru_Kontrabanda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STCherty';
  src: url('fonts/ofont.ru_ST-Cherty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Downtown';
  src: url('fonts/ofont.ru_Downtown.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wolgadeutsche';
  src: url('fonts/ofont.ru_Wolgadeutsche.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ebbe';
  src: url('fonts/ofont.ru_Ebbe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Новые шрифты ↓ */

@font-face {
  font-family: 'Adventure Indiana';
  src: url('fonts/ofont.ru_Adventure Indiana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maratype';
  src: url('fonts/ofont.ru_Maratype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plup';
  src: url('fonts/ofont.ru_Plup.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soledago';
  src: url('fonts/ofont.ru_Soledago.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SouthGhetto';
  src: url('fonts/ofont.ru_SouthGhetto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sriracha';
  src: url('fonts/ofont.ru_Sriracha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
