@font-face {
  font-family: 'BohemaPink';
  src: url('fonts/ofont.ru_Bohema-Pink.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kontrabanda';
  src: url('fonts/ofont.ru_Kontrabanda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STCherty';
  src: url('fonts/ofont.ru_ST-Cherty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
