@font-face {
  font-family: 'BohemaPink';
  src: url('fonts/ofont.ru_Bohema-Pink.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kontrabanda';
  src: url('fonts/ofont.ru_Kontrabanda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STCherty';
  src: url('fonts/ofont.ru_ST-Cherty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AdventureIndiana';
  src: url('fonts/ofont.ru_Adventure-Indiana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maratype';
  src: url('fonts/ofont.ru_Maratype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plup';
  src: url('fonts/ofont.ru_Plup.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soledago';
  src: url('fonts/ofont.ru_Soledago.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SouthGhetto';
  src: url('fonts/ofont.ru_SouthGhetto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sriracha';
  src: url('fonts/ofont.ru_Sriracha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wolgadeutsche';
  src: url('fonts/ofont.ru_Wolgadeutsche.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ebbe';
  src: url('fonts/ofont.ru_Ebbe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Downtown';
  src: url('fonts/ofont.ru_Downtown.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anastasia';
  src: url('fonts/ofont.ru_Anastasia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ariston';
  src: url('fonts/ofont.ru_Ariston.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Carolina';
  src: url('fonts/ofont.ru_Carolina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cassandra';
  src: url('fonts/ofont.ru_Cassandra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CGTimesCyr';
  src: url('fonts/ofont.ru_CG Times Cyr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corrida';
  src: url('fonts/ofont.ru_Corrida.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CyrillicOld';
  src: url('fonts/ofont.ru_Cyrillic Old.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DSArabic';
  src: url('fonts/ofont.ru_DS Arabic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JakobCTT';
  src: url('fonts/ofont.ru_JakobCTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LavanderiaC';
  src: url('fonts/ofont.ru_LavanderiaC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Melba';
  src: url('fonts/ofont.ru_Melba.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MetroModern';
  src: url('fonts/ofont.ru_Metro Modern.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MonAmourOne';
  src: url('fonts/ofont.ru_Mon Amour One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nikoleta';
  src: url('fonts/ofont.ru_Nikoleta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RoundScript';
  src: url('fonts/ofont.ru_Round Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Xiomara';
  src: url('fonts/ofont.ru_Xiomara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Новые шрифты Helvetica Neue */

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('fonts/ofont.ru_Helvetica Neue Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueThinItalic';
  src: url('fonts/ofont.ru_Helvetica Neue Thin Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('fonts/ofont.ru_Helvetica Neue Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueMediumItalic';
  src: url('fonts/ofont.ru_Helvetica Neue Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
